# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.spec

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.sqlite3
